<div class="card mb-4" style="min-width: 18rem">
  <div class="card-img-wrapper">
    <img src="{{coach.photoUrl}}" alt="{{coach.knownAs}}" class="card-img-top">
    <ul class="list-inline member-icons animate text-center mt-1">
      <li class="list-inline-item">
        <button class="btn btn-primary btn-sm" [routerLink]="['/coach/', coach.id]">
            <i class="fa fa-user"></i>
        </button>
      </li>
     
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i>{{coach.username}}</h6>
    <p class="card-text text-muted text-center">{{coach.city}}</p>
  </div>
</div>